@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg-grad-soft-blue: hsl(240, 73%, 65%);
  --bg-grad-soft-violet: hsl(273, 75%, 66%);
  --divider-light-grey: hsl(240, 5%, 91%);
  --txt-color-soft-red: hsl(14, 88%, 65%);
  --txt-color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --txt-dark-grey: hsl(240, 6%, 50%);
  --txt-very-dark-grey: hsl(237, 12%, 33%);
}

body {
  background: linear-gradient(
    to top,
    var(--bg-grad-soft-blue),
    var(--bg-grad-soft-violet)
  );
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 70vh;
  background-color: #fff;
  border-radius: 1.5rem;
}

.left {
  width: 50%;
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  width: 50%;
  margin-right: 5rem;
}

.qa {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

h1 {
  font-size: xx-large;
}

.ans {
  color: var(--txt-dark-grey);
  display: none;
}

.ans.active {
  color: var(--txt-dark-grey);
  display: block;
  font-weight: 400;
}

h3.active {
  background-color: #fff;
  color: var(--txt-color-very-dark-desaturated-blue);
  font-weight: 700;
}

h3 {
  color: var(--txt-dark-grey);
  font-weight: 400;
}
.btn-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 5px;
}

button {
  border: none;
  outline: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
}

.more {
  text-align: right;
}

.active.more {
    display: none;
}

.less {
  transform: rotate(180deg);
  display: none;
}

.active.less {
    display: block;
}

hr {
  color: var(--divider-light-grey);
  opacity: 0.3;
}

/* footer */
.attribution {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11px;
  text-align: center;
  color: var(--divider-light-grey);
  padding-bottom: 1rem;
}
.attribution a {
  color: white;
}
